/*Common Elements*/

body{
     font-size: 90;
     font-family: Lucida Console, Serif;
     background: lightslategray;
     position: center;
     text-align: center;
     padding: 0px;
     -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     background-size: 100% 100%;
     -o-background-size: 100% 100%;     
}

/*Nav Bar*/
.topnav ul {
    
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;        
        }
.topnav li {
    display: inline;
   }

.topnav li :hover {
    background-color: blueviolet;
    color: black;
   }     

/*Title*/
.title h1 {
    display: inline;
} 
.banner li {
    list-style-type: none;
    padding: 10px 190px;
    text-decoration: none;
    display: inline;
    image-resolution: 100%;
}
.banner li
img {
    border: 1px solid #ddd;
    border-radius: none;
    position: center;
    width: 50px;
    padding: none;
}

.banner li :hover {
    background-color: blueviolet;
    color: black;
}     
.panel p{
    border: 50px solid #ddd;
    border-radius: 100% center;
    }    
.panel p {
    background-color: lightblue;          
    word-wrap: break-word;
    padding: 50px;        
    font-size: 40px; 
    text-align: center;            
}
.panel h1 {
    text-align: center;
}

.credits {
    text-align: center;
}


/*Main section*/
.form h2{
    text-align: center;
}
.form fieldset {
    text-align: center;
}

.project h1 {
    text-align: center;
}
#project {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    display: inline;
    image-resolution: 0%;
    text-align: center;   
}
.project li :hover {
    background-color: blueviolet;
    color: black;
}     
/*Footer*/
.social {
    list-style-type: inline;
    padding: 5px;
    text-decoration: none;
    }

.social li {
    display: inline; 
}
.social li img {        
    position: center;
    box-shadow: 0 0 20px 20px rgba(0, 140, 186, 0.5);
}
.social img {
    width: 13%;
    height: 13%;
}
.social li :hover {
    background-color: blueviolet;
    color: black;
}
.link li {
    list-style-type: none;
    display: inline;
}

